<div style= "text-align: center;">
  <h1>Control de Consultas</h1>
  
</div>
<DIv style="text-align: center;">
  <button  type="button " class="btn btn-outline-info" (click) = "persona()">Persona</button>
  <button  type="button" class="btn btn-outline-info" (click) = "servicio()" style="margin-left: 12px;">Servicio</button>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="">
  
</DIv>

<router-outlet></router-outlet>
